{% extends "Public/index.html" %}

{% block title %}Add{% endblock %}

{% block main %}
<div class="row">
    <form action="{{ BASE }}add" method="POST">
        <div class="card" style="left: 165%;">
            <div class="card-header">
                ToDo Add
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="todo_post">Item:</label>
                    <input type="text" id="todo_post" name="todo_post" required class="form-control"
                        placeholder="Enter the name of the item.">
                </div>
            </div>

            <div class="card-footer text-right">
                <button type="submit" class="btn btn-outline-primary fas fa-check" 
                    data-toggle="tooltip" data-placement="top" title="Add"></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}