{% extends "Public/index.html" %}

{% block title %}Delete{% endblock %}

{% block main %}
{% spaceless %}
<form method="POST">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p>
                Are you sure you want to delete this item?
                <button type="submit" href="{{ BASE }}delete/{{ todo.todo_id}}/" class="btn btn-outline-danger fas fa-check" style="font-size: 1em; margin-left: 2px;"
                    data-toggle="tooltip" data-placement="top" title="Yes!"></button>
                <a href="{{ BASE }}" class="btn btn-outline-success fas fa-times" style="font-size: 1em; margin-left: 2px;"
                    data-toggle="tooltip" data-placement="top" title="No!"></a>
            </p>
        </li>
    </ul>
</form>
{% endspaceless %}
{% endblock %}