{% extends "Public/index.html" %}

{% block title %}Edit{% endblock %}

{% block main %}

<div class="row">
    <div class="align-item-center">
        <form method="POST">
            <div class="card" style="left: 165%;">
                <div class="card-header">
                    ToDo Edit
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label for="todo_post">Item:</label>
                        <input type="text" id="todo_post" name="todo_post" required class="form-control"
                            placeholder="Enter a new item name.">
                    </div>
                </div>

                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-outline-primary fas fa-check" 
                        data-toggle="tooltip" data-placement="top" title="Edit"></button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}