{% extends "Public/index.html" %}

{% block main %}
{% spaceless %}
<ul class="list-group list-group-flush">
    {% for todo in todos %}
    <li class="list-group-item" style="font-size: 1em;">
        {{ todo.todo_post }}
        <a href="{{ BASE }}delete/{{ todo.todo_id}}/" class="fas fa-trash-alt" style="font-size: 1em; margin-left: 10%;" 
            data-toggle="tooltip" data-placement="top" title="Delete"></a>
        <a href="{{ BASE }}edit/{{ todo.todo_id}}/" class="far fa-edit" style="font-size: 1em; margin-left: 1%;" 
            data-toggle="tooltip" data-placement="top" title="Edit"></a>
    </li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endblock %}