{% extends "Public/index.html" %}

{% block title %}Add{% endblock %}

{% block main %}
<div class="card" style="width: 30rem; left: 30%;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ message }}</li>
        <li class="list-group-item">Click on the button to return to add more items.<a href="{{ BASE }}add" 
            class="card-link fas fa-plus" style="margin-left: 15px;"></a></li>
        <li class="list-group-item">Click on the button to return to see all the items.<a href="{{ BASE }}" 
            class="card-link fas fa-home" style="margin-left: 15px;"></a></li>
    </ul>
</div>
{% endblock %}